/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./public/css/post.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.post-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    gap: 40px;
}
.post_banner{
    background: url(/_next/static/media/actbanner.261bd285.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0 150px;
    position: relative;
   
}
.post_bannerr{
    background: url(/_next/static/media/ssbanner.c03edaae.png) no-repeat center center;
    background-size: cover;
    padding: 200px 0 150px;
    position: relative;
   
}
.post_banner h1{
    font-size: 46px;
    color: #fff;
}
.gallery_banner{
    background: url(/_next/static/media/galbanner.761d4df5.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0 150px;
    position: relative;
   
}
.con_banner{
    background: url(/_next/static/media/conbanner.358b2f63.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0 150px;
    position: relative;
   
}
.treatment_banner{
    background: url(/_next/static/media/childhood-cancer.aecce719.jpg) no-repeat center center;
    background-size: cover;
    padding: 200px 0 150px;
    position: relative;
}
.treatment_banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);

}
.treatment_banner h1{
    font-size: 46px;
    color: #fff;
}
.post_banner h2{
    font-size: 46px;
    color: #fff;
}
.featured_img{
    border-radius: 8px 8px 0 0;
}
.single-post {
    flex: 2 1;
  
}
.single-treat{
    flex: 3 1;
}
.active-link {
  color: #FF6347; /* Example color, change as needed */
  font-weight: bold;
}

.post_contents{
    background-color: #ffffff;
    border-radius:0 0 8px 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.post_comment{
    background-color: #ffffff;
    border-radius:8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 40px;
}
.post_contents h1{
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 20px;
}
.post_contents p,h2,h3,h4,h5,h6{
margin-bottom: 20px;
}
.post_contents ul{
    padding-left: 40px;
    margin-bottom: 20px;
}
.post-meta {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.post-meta img{
width: 18px;
margin-right: 10px;
}
.post-meta span{
    font-size: 16px;
    color: #000;
}
.post-content {
    line-height: 1.6;
}

.recent-posts {
    flex: 1 1;

}
.search{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.recent{
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
.treatment-recent{
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 
}
.treatment-help{
    padding: 40px;
    margin-top: 40px;
    background: #eb8733;
    border-radius: 8px;
    display: grid;
    place-content: center;
    place-items: center;
}
.treatment-help h4{
 color: #fff;
 text-align: center;
 font-size: 30px;
}
.treatment-help h4 span{
    color: #60b652;
}
.treatment-help img{
    width: 100px;
}
.recent-posts h2 {
    margin-bottom: 15px;
}
.treatment-contact{
    background: #fff;
    border: 2px dashed hsl(0deg 0% 0% / 20%);
    padding: 20px;
    margin-top: 30px;
}
.recent-posts ul {
    list-style-type: none;
    padding: 0;
}

.recent-posts li {
    padding: 30px 0;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}
.recent-posts li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}
.recent-posts a {
    color: #000;
    text-decoration: none;
}

.recent-posts a:hover {
    color: #eb8733;
}
.treatment-recent li {
    padding: 10px 20px;
    display: flex
;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
}
.current .treatment_link img{
    filter: invert(1);

}
.recent-posts {
    position: -webkit-sticky;
    position: sticky;
    top: 130px; 
    align-self: flex-start; 
  }
  
.treatment-recent li.current {
    background-color: #ff6600; 
 
  }
  .treatment-recent li.current a {

    color: #fff !important;
  }
  
  .treatment-recent li.current a {
    color: #ff6600;
  }
  .treatment-recent li img{
    width:20px;
    height:20px;
  }
textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.post-content ul{
    display: grid
    ;
        grid-gap: 10px;
        gap: 10px;
        list-style: none;

}
.post-content ul li{
    position: relative;
}
.post-content ul li::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -35px;
    transform: translateY(-50%);
    background: url(/img/svg/dot.png) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.leuk{
    display: grid;
    place-items: center;
}
input[type="text"] {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.treatment_link{
    display: flex
    ;
        justify-content: space-between;
        width: 100%;
        align-items: center;
}
.treatment_link img {
    margin: 0 !important;
}
button {
    padding: 10px 15px;
    background-color: #eb8733;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.post_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    gap: 40px;
    grid-auto-rows: 1fr; 
}
.post_cards a{
    text-decoration: none;
}
.post_card>*{
margin: 0;
padding: 0;
text-decoration: none;
}
.pcards_imgs img:last-child{
display: none;
}
.post_card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px;
    display: grid;
    place-items: baseline;
    grid-gap: 20px;
    gap: 20px;
    height: 100%;
}
.post_card h3{
    font-size: 22px;
}
.readmore{
    padding: 15px 30px;
    font-size: 16px;
    background: #eb8733;
    border-radius: 30px;
    display: inline;
    color: #fff;

}
.readmore:hover{
    background: transparent;
    border: 1px solid #eb8733;
    color: #eb8733;
}
.search_post{
    padding-bottom: 40px;
}
.search_post form{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}
.search_post form input{
    width: auto;
    margin: 0;
    height: 50px;
    border-radius: 5px 0 0 5px;
}
.search_post form button{
   border-radius: 0px 5px 5px 0;
   padding: 16px 20px;
}
.posts{
    padding: 80px 0;
}
.post-content ol{
    padding: 0px 0 20px 40px;
}
@media (max-width:600px){
    .pcards_imgs img:last-child{
        display: block;
        }
        .pcards_imgs img:first-child{
            display: none;
            }
    .post_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .posts {
        padding: 40px 0;
    }
    .post_banner {
        padding: 150px 0 100px;
        background-position-y: 64px;
    }
    .gallery_banner {
        padding: 150px 0 100px;
        background-position-y: 64px;
    }
    .con_banner {
        padding: 150px 0 100px;
        background-position-y: 64px;
    }
    .post_card {
        padding: 20px;
    }
    .post-meta {
        gap: 20px;
    }
    .post-container {
        display: grid;
        grid-template-rows: auto auto; /* Two rows */
        grid-template-columns: 1fr; /* Single column */
        grid-gap: 20px;
        gap: 20px; /* Add spacing between rows if needed */
    }
    
    /* Reverse the order of children */
    .post-container > aside {
        grid-row: 2; /* Push the "aside" section to the second row */
    }
    
    .post-container > article {
        grid-row: 1; /* Keep the "article" section in the first row */
    }
    .post-container {
      
        padding: 40px 0;

    }
    .post_contents {
        padding: 20px;
    }
    .post_contents h1 {
        font-size: 24px;
    }
    .post_comment,.search,.recent{
        padding: 20px;
    }
    
.recent-posts {
    position: relative;
    top: 20px;
}
.link.active, .dropdown-item.active {
    color: #fff;
}
.link:hover, .dropdown-button:hover {
    color: #fff;
}
.post_bannerr {
    padding: 123px 0 90px;
}
.obj_cardss {
    padding: 40px 0 40px;
    grid-template-columns: repeat(1, 1fr);
}
.about-padding {
    padding: 40px 0 !important;
}

.stories {
    display: grid
;
}
.stories img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
}
.testimonialSection {
 margin-top: 40px;
    padding: 50px 0;
}
.wrapp {
    display: grid
;

}
.wrapper {
    padding: 0px;
    margin: 40px auto 0;
    background: #fff;
}


}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/swiper/swiper.min.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Swiper 8.4.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2023 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: January 30, 2023
 */

@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-pointer-events{touch-action:pan-y}.swiper-pointer-events.swiper-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-autoheight,.swiper-autoheight .swiper-slide{height:auto}.swiper-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-backface-hidden .swiper-slide{transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-3d,.swiper-3d.swiper-css-mode .swiper-wrapper{perspective:1200px}.swiper-3d .swiper-cube-shadow,.swiper-3d .swiper-slide,.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top,.swiper-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-3d .swiper-slide-shadow,.swiper-3d .swiper-slide-shadow-bottom,.swiper-3d .swiper-slide-shadow-left,.swiper-3d .swiper-slide-shadow-right,.swiper-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-3d .swiper-slide-shadow{background:rgba(0,0,0,.15)}.swiper-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-horizontal.swiper-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-vertical.swiper-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}.swiper-centered>.swiper-wrapper::before{content:'';flex-shrink:0;order:9999}.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child{-webkit-margin-start:var(--swiper-centered-offset-before);margin-inline-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-horizontal>.swiper-wrapper::before{height:100%;min-height:1px;width:var(--swiper-centered-offset-after)}.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child{-webkit-margin-before:var(--swiper-centered-offset-before);margin-block-start:var(--swiper-centered-offset-before)}.swiper-centered.swiper-vertical>.swiper-wrapper::before{width:100%;min-width:1px;height:var(--swiper-centered-offset-after)}.swiper-centered>.swiper-wrapper>.swiper-slide{scroll-snap-align:center center;scroll-snap-stop:always}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/swiper/modules/pagination/pagination.min.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-disabled>.swiper-pagination,.swiper-pagination.swiper-pagination-disabled{display:none!important}.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));height:var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));display:inline-block;border-radius:50%;background:var(--swiper-pagination-bullet-inactive-color,#000);opacity:var(--swiper-pagination-bullet-inactive-opacity, .2)}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet:only-child{display:none!important}.swiper-pagination-bullet-active{opacity:var(--swiper-pagination-bullet-opacity, 1);background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-pagination-vertical.swiper-pagination-bullets,.swiper-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:var(--swiper-pagination-bullet-vertical-gap,6px) 0;display:block}.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 var(--swiper-pagination-bullet-horizontal-gap,4px)}.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-horizontal>.swiper-pagination-progressbar,.swiper-pagination-progressbar.swiper-pagination-horizontal,.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,.swiper-pagination-progressbar.swiper-pagination-vertical,.swiper-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-lock{display:none}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/swiper/modules/navigation/navigation.min.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next.swiper-button-hidden,.swiper-button-prev.swiper-button-hidden{opacity:0;cursor:auto;pointer-events:none}.swiper-navigation-disabled .swiper-button-next,.swiper-navigation-disabled .swiper-button-prev{display:none!important}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;font-feature-settings:;font-variant:initial;line-height:1}.swiper-button-prev,.swiper-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-rtl .swiper-button-prev:after{content:'next'}.swiper-button-lock{display:none}
